:root {
    --bg-color: rgba(255, 205, 90, 0.6);
    --shadow: 5px 1px 5px #000;

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body,
    html {
        font-family: Roboto;
        color: #fff;
    }
    main{
        width: 100%;
        min-height: 100vh;
        background: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    form {
        width: 570px;
        height: 590px;
        background: url('assets/black-peppercorn-8337820_1280.webp') no-repeat center center;
        background-size: 100% 100%;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        box-shadow: var(--shadow);

        h2 {
            width: 100%;
            text-align: start;
            font-size: 24px;
            font-weight: 500;
            line-height: 32px;
            color: #fff;
            text-shadow: var(--shadow);
        }

    }